<nav class="navbar fixed-top navbar-expand-lg  bg-light">
  <div class="container ">
    <i class="fas mx-3 fa-shopping-cart cart"></i>
    <a class="navbar-brand txt" routerLink="home">FreshCart</a>
    <button
      class="navbar-toggler d-lg-none "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="home" aria-current="page"
            >Home <span class="visually-hidden">(current)</span></a
          >
        </li>
      
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="products" aria-current="page"
            >Products <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="categories" aria-current="page"
            >Categories <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link active" routerLink="brands" aria-current="page"
              >brands <span class="visually-hidden">(current)</span></a
            >
          </li>
      </ul>
      
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 ">
        <li class="nav-item d-flex align-items-center">
            <i class="fab mx-2 fa-instagram"></i>
            <i class="fab mx-2 fa-facebook"></i>
            <i class="fab mx-2 fa-tiktok"></i>
            <i class="fab mx-2 fa-twitter"></i>
            <i class="fab mx-2 fa-linkedin"></i>
            <i class="fab mx-2 fa-youtube"></i>
        </li>
        <li *ngIf=" !isLogin" class="nav-item">
          <a class="nav-link active" routerLink="login" aria-current="page"
            >Login <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link active" routerLink="register" aria-current="page"
            >Register <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <span (click)="logOut()" class="cursor-pointer nav-link" >LogOut</span>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <span  class="cursor-pointer nav-link" routerLink="settings" >settings</span>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active  position-relative " routerLink="carts" aria-current="page"
            ><i class="fas fa-shopping-cart text-main fa-lg "></i>
             <span class="badge bg-main text-white position-absolute top-0 end-0">{{cartNumber}}</span>
             </a
          >
        </li>
    
      </ul>
    </div>
  </div>
</nav>
