<div class="row py-4 gx-0">
    <div class="col-md-8">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img height="400" src="../../assets/Images/flat-lay-assortment-vegetables-with-grocery-bag.jpg" alt="grocery"></ng-template>  
            <ng-template carouselSlide> <img height="400" src="../../assets/Images/2259066.jpg" alt="grocery"></ng-template>  
            <ng-template carouselSlide><img height="400" src="../../assets/Images/home-appliances-shopping-cart-ecommerce-600nw-328915340.webp" alt="grocery"></ng-template>  
          </owl-carousel-o>

    </div>
    <div class="col-md-4">
        <img width="450" height="200" src="../../assets/Images/pexels-photo-264636.jpeg" alt="grocery">
        <img width="450" height="200" src="../../assets/Images/electro.jpg" alt="electronics">

    </div>
</div>